.inlineSelectContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.inlineSelectSizer {
  visibility: hidden;
  white-space: nowrap;
  padding-right: 18px;
}

.inlineSelect {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  background: none;
  border: none;
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0 14px 0 0;
}

.inlineSelect option,
.inlineSelect optgroup {
  color: initial;
  background-color: initial;
}

.arrowContainer {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  display: flex;
}

.arrow {
  flex: 1;
  mask-size: 14px;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M5.49303 6.80023C5.69538 6.61233 6.01175 6.62405 6.19965 6.8264L7.99992 8.76515L9.80019 6.8264C9.98809 6.62405 10.3045 6.61233 10.5068 6.80023C10.7092 6.98813 10.7209 7.3045 10.533 7.50685L8.36632 9.84019C8.27171 9.94207 8.13896 9.99996 7.99992 9.99996C7.86089 9.99996 7.72813 9.94207 7.63352 9.84019L5.46686 7.50685C5.27896 7.3045 5.29067 6.98813 5.49303 6.80023Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  opacity: 0.5;
}
